<aside>
  <header>
    <form id="filterUsers" action="">
        <input type="search"/>        
        <input class="button" type="submit" value="🔎">
    </form>
  </header>
  <section>
    <ul class="list-group">
      <li  *ngFor="let arr of [1,2,3,4,5]">
        mail<br>
        <b>Name</b><br>
        Number<br>
      </li>
    </ul>
  </section>
</aside>
<main>
  <header>
    Fidelidade
  </header>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Transações</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Benefícios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Historico</a>
    </li>
  </ul>
  <section class="separator">
    <big-number *ngFor="let arr of [1,2,3,4,5]" label="Saldo" [value]="2274.73"></big-number>
  </section>
  <div class="content">
    <adicionar-nota>

    </adicionar-nota>
  </div>
</main>  
