@import '../assets/styles/variables';

$aside-w : 30%;
$aside-p : 35px;
$hearder: 60px;

aside{
    background: $background;
    height: 100%;
    width: $aside-w;
    position: fixed;
    section{
        padding: 0 $aside-p;
        .list-group{
            li{
                padding:25px  0;
            }
        }
    }
}
main{
    width: calc(100% - #{$aside-w});
    margin-left: $aside-w;
    header{
        padding-left: $aside-p;
    }
}

header{
    line-height: $hearder;
    height: $hearder;
    border: $border;
}

#filterUsers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color:$text-strong;
    input{
        background: transparent;
        border-width: 0px;
        &[type="search"]{
            font-style: italic;
            padding: 0 $aside-p;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
    }
    .button{
        height: $hearder;
        width: $hearder;
        border-left-width: 1px;
    }
}

.big-number{
    padding: $padding;
    display: inline-block;
    .big-number-label{
        font-size: $size-small;
    }
    .big-number-value{
        color: $text-strong;
        font-weight: bold;
        font-style: italic;
    }
}